html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, fieldset, form, input, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

._hidden {
  display: none !important;
}

.bold {
  font-family: "PT Sans";
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active, a:focus {
  outline: medium none;
}

a img {
  border: 0 none;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "helveticaneuecyrLight";
  src: url("../fonts/helveticaneuecyr-light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneuecyrThin";
  src: url("../fonts/helveticaneuecyr-thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneuecyrUltralight";
  src: url("../fonts/helveticaneuecyr-ultralight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneuecyrRoman";
  src: url("../fonts/helveticaneuecyr-roman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Bold") format("svg");
}

.scroll_button {
  position: absolute;
  background: url(../img/scroll_btn.png) no-repeat center;
  width: 40px;
  height: 90px;
  cursor: pointer;
}

body {
  font-size: 8px;
}

.wraper {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.main_view_wraper {
  max-width: 900px;
  margin: 0 auto;
}

.head_menu {
  background: #fff;
  height: 100px;
}

.head_menu .logo {
  float: left;
  margin-top: 20px;
}

.head_menu .menu a.open_menu_btn {
  position: relative;
  float: right;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-top: 35px;
}

.head_menu .menu a.open_menu_btn span {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background: #2c78a3;
  top: 15px;
  left: 5px;
}

.head_menu .menu a.open_menu_btn span:after, .head_menu .menu a.open_menu_btn span:before {
  content: '';
  width: 30px;
  height: 2px;
  background: #2c78a3;
  position: absolute;
  left: 0;
}

.head_menu .menu a.open_menu_btn span:after {
  bottom: -10px;
}

.head_menu .menu a.open_menu_btn span:before {
  top: -10px;
}

.welcome_screen {
  background: url(../img/bg_welcome_screen.png) no-repeat center;
  height: 480px;
  background-size: cover;
  position: relative;
}

.welcome_screen a.main_button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -200px;
  width: 400px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 2px solid #003350;
  font-size: 3.8em;
  color: #003350;
  font-family: 'helveticaneuecyrThin';
}

.welcome_screen .scroll_button {
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: calltoaction 1.4s infinite linear;
          animation: calltoaction 1.4s infinite linear;
}

.about_screen {
  height: 600px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, #195b80, #bfe7fe);
}

.about_screen .wraper {
  background: #fff;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 150px;
  position: relative;
}

.about_screen .wraper:after {
  content: '';
  position: absolute;
  right: -150px;
  top: 0;
  border-top: 300px transparent solid;
  border-left: 150px #fff solid;
  border-bottom: 300px transparent solid;
}

.about_screen .wraper:before {
  content: '';
  position: absolute;
  left: -150px;
  top: 0;
  border-top: 300px transparent solid;
  border-right: 150px #fff solid;
  border-bottom: 300px transparent solid;
}

.about_screen .wraper .wraper_inside {
  position: absolute;
  max-width: 770px;
  top: 50%;
  left: 0;
  margin-left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about_screen .big_logo {
  width: 300px;
  height: 105px;
  overflow: hidden;
  margin: 0 auto;
}

.about_screen .big_logo img {
  width: 100%;
  height: auto;
}

.about_screen .content_list {
  color: #003132;
  text-align: center;
  font-size: 3em;
}

.about_screen .content_list .content_item {
  font-family: 'helveticaneuecyrUltralight';
  margin-top: 30px;
}

.about_screen .content_list .slogan {
  font-family: 'helveticaneuecyrRoman';
  margin-top: 40px;
}

.about_screen .scroll_button {
  background: url(../img/scroll_btn_v2.png) no-repeat center;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: calltoaction 1.4s infinite linear;
          animation: calltoaction 1.4s infinite linear;
}

.categorys_screen {
  height: 800px;
  background: url(../img/Layer7_50.png) no-repeat center;
  background-size: cover;
}

.categorys_screen .list_category {
  text-align: center;
  height: 100%;
}

.categorys_screen .list_category .item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 267px;
  position: relative;
}

.categorys_screen .list_category .item .icon {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
  background: url(../img/polygon_icon.png) no-repeat center;
}

.categorys_screen .list_category .item .icon:after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50px;
  top: 50px;
}

.categorys_screen .list_category .item .text {
  text-align: center;
  padding: 0 10%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  font-family: 'helveticaneuecyrThin';
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.categorys_screen .list_category .item.font_sz_30 {
  font-size: 3em;
}

.categorys_screen .list_category .item.font_sz_36 {
  font-size: 3.6em;
}

.categorys_screen .list_category .item.font_sz_60 {
  font-size: 6em;
}

.categorys_screen .list_category .item.item_icon_1 {
  background: url(../img/category_icon1_bg.png) no-repeat center;
  background-size: cover;
}

.categorys_screen .list_category .item.item_icon_1 .icon:after {
  background: url(../img/category_icon1.png) no-repeat center;
}

.categorys_screen .list_category .item.item_icon_2 {
  background: url(../img/category_icon2_bg.png) no-repeat center;
  background-size: cover;
}

.categorys_screen .list_category .item.item_icon_2 .icon:after {
  background: url(../img/category_icon2.png) no-repeat center;
}

.categorys_screen .list_category .item.item_icon_3 {
  background: url(../img/category_icon3_bg.png) no-repeat center;
  background-size: cover;
}

.categorys_screen .list_category .item.item_icon_3 .icon:after {
  background: url(../img/category_icon3.png) no-repeat center;
}

.categorys_screen .list_category .item.item_text_1 {
  background: rgba(44, 120, 163, 0.9);
}

.categorys_screen .list_category .item.item_text_2 {
  background: rgba(25, 89, 125, 0.9);
}

.categorys_screen .list_category .item.item_text_3 {
  background: rgba(87, 214, 153, 0.9);
}

.categorys_screen .list_category .item.item_text_4 {
  background: rgba(220, 187, 65, 0.9);
}

.categorys_screen .list_category .item.item_text_5 {
  background: rgba(90, 180, 243, 0.9);
}

.categorys_screen .list_category .item.item_text_6 {
  background: rgba(132, 159, 255, 0.9);
}

.for_bottom_screen {
  height: 100vh;
  background: #fff;
  min-height: 700px;
}

.for_bottom_screen .diagram_screen {
  height: calc(100vh - 430px);
  min-height: 300px;
}

.bottom_screen {
  background: #195b80;
  padding: 40px 0 80px;
}

.bottom_screen .wraper .coll_item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 50px;
  margin-top: 40px;
  font-size: 1.8em;
  color: #fff;
  font-family: 'helveticaneuecyrThin';
  box-sizing: border-box;
}

.bottom_screen .wraper .coll_item .title {
  font-family: 'helveticaneuecyrRoman';
}

.bottom_screen .wraper .coll_item li {
  list-style-type: none;
  padding: 0;
}

.bottom_screen .wraper .coll_item li a {
  display: block;
  color: #fff;
  margin-top: 10px;
}

.bottom_screen .wraper .coll_item:nth-of-type(1), .bottom_screen .wraper .coll_item:nth-of-type(2) {
  text-align: left;
}

.bottom_screen .wraper .coll_item:nth-of-type(3), .bottom_screen .wraper .coll_item:nth-of-type(4) {
  text-align: right;
}

.footer {
  height: 100px;
  line-height: 100px;
  font-size: 1.4em;
  background: #003350;
}

.footer span.bold {
  font-family: 'helveticaneuecyrRoman';
}

.footer .rights_reserved {
  color: #fff;
  float: left;
}

.footer .design_by {
  float: right;
}

.footer .design_by a {
  color: #fff;
}

@media (max-width: 1250px) {
  .about_screen .wraper .wraper_inside {
    left: auto;
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 8px;
  }
}

@media (max-width: 850px) {
  .about_screen {
    height: 680px;
  }
  .about_screen .wraper {
    margin: 0 130px;
  }
  .about_screen .wraper:after {
    right: -150px;
    border-top: 340px transparent solid;
    border-left: 150px #fff solid;
    border-bottom: 340px transparent solid;
  }
  .about_screen .wraper:before {
    left: -150px;
    border-top: 340px transparent solid;
    border-right: 150px #fff solid;
    border-bottom: 340px transparent solid;
  }
  .categorys_screen {
    height: auto;
  }
  .categorys_screen .list_category .item {
    width: 100%;
    height: 280px;
  }
}

@media (max-width: 650px) {
  .wraper {
    padding: 0 20px;
  }
  .welcome_screen a.main_button {
    width: 80%;
    margin-left: -40%;
  }
  .about_screen .big_logo {
    width: 80%;
    height: auto;
  }
  .about_screen .wraper {
    margin: 0;
    padding: 0 10px;
  }
  .about_screen .wraper:after, .about_screen .wraper:before {
    display: none;
  }
  .bottom_screen .wraper {
    padding: 0;
    margin: 0;
  }
  .bottom_screen .wraper .coll_item {
    width: 50%;
    text-align: left;
    margin-top: 40px;
  }
  .bottom_screen .wraper .coll_item:nth-of-type(1), .bottom_screen .wraper .coll_item:nth-of-type(3) {
    text-align: left;
  }
  .bottom_screen .wraper .coll_item:nth-of-type(2), .bottom_screen .wraper .coll_item:nth-of-type(4) {
    text-align: right;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 7px;
  }
  .about_screen .wraper {
    margin: 0;
    padding: 0 10px;
  }
  .about_screen .wraper:after, .about_screen .wraper:before {
    display: none;
  }
  .about_screen .wraper .wraper_inside {
    width: 100%;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding-top: 50px;
  }
  .bottom_screen .wraper {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .bottom_screen .wraper .coll_item {
    width: 90%;
    font-size: 2em;
    text-align: center !important;
  }
  .footer {
    height: 100px;
  }
  .footer .rights_reserved,
  .footer .design_by {
    text-align: center;
    float: none;
    height: 50px;
    line-height: 50px;
  }
}
