/ .footer
/   .wraper
/     .rights_reserved 
/       span.bold Future Technologies 
/       |(c) 2016. All rights reserved
/     .design_by 
/       a href="" 
/         |Design by 
/         span.bold KORE labs